<!DOCTYPE html>
<html>
  <head>
    <title>Smokit</title>
  </head>

  <body>
<h1>Smokit, la partie Web</h1><br/>
<h2>Username :</h2>
<form id="connection">
	<input type="text" name="username">
	<input type="submit" value="Connection">
</form>
<br/><br/>

	<p> Pas encore Inscrit ? </p>
	<h2>Nouveau Username :</h2>
<form id="register">
	<input type="text" name="newname">
	<input type="submit" value="Soumettre">
</form>

<p> 
	<a href="/users">Manage Users</a><br/>
	<a href="/smokes">Manage Smokes</a>
</p>

      <script src="/assets/script2.js">

      </script>

  </body>
</html>
