<!DOCTYPE html>
<html>
  <head>
    <title>Smokit</title>
  </head>

  <body>


<!--Partie de code qui sera utilisé en non connecté-->
<div class='disconnected'>
<p id="error1" style="display:none; color:red">Username non existant!</p>'	
<p id="error2" type="hidden" style="display:none; color:red">Username déja pris!</p>
	<h1>Smokit, la partie Web</h1>
	<h2 id="title">Username :</h2>
		<input id="username_connect" type="text">
		<input id="connect" type="submit" value="Connection">
	<br/><br/>

	<p> Pas encore Inscrit ? </p>
	<h2>Nouveau Username :</h2>

		<input id="username_create" type="text">
		<input id="create" type="submit" value="Soumettre">
	<p> 
		<a href="/users">Manage Users</a><br/>
		<a href="/smokes">Manage Smokes</a>
	</p>
</div>

<!--Partie de code qui sera utilisé en connecté-->
<div class='connected'>
	<h2>Imaginons la page username=Mika loggedIn=true</h2>
    	

	<form id="new_smoke" method="post" action="/newsmoke">
		<input name="authenticity_token" type="hidden" value="WE9L/lhK8otgTy/+UZd8jOjGYBnRMs2I37JUL3v3tjQ=" />
		<input id="user_name" name="user[name]" type="hidden" value="Mikam" />
		<input id="smoke_lat" name="smoke[smoke_latitude]" type="hidden" value="1" />
		<input id="smoke_long" name="smoke[smoke_longitude]" type="hidden" value="2" />
		<input id="smoke_date" name="smoke[smoke_date]" type="hidden" value="2014-02-16T16:56:45.572Z" />
		<input name="commit" type="submit" value="New Smoke">
	</form>

<br/><br/>
</div>
</body>
	
</html>
